/*tag selector*/
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  margin: 0px;
  background-color: #15364d;
  color: #f5f4f4;
}
hr {
  width: 95%;
}
h2 {
  color: #c839b1;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
}
h3 {
  text-align: center;
  padding: 2%;
  margin-top: 0px;
  margin-bottom: 0px;
}
a:link {
  color: #b85a0e;
}
a:visited {
  color: green;
}
a:hover {
  color: #c211a5;
}
/*class selector*/
.header {
  margin: 2%;
  padding: 10px;
  text-align: center;

  color: #f0ebe7;
  background-color: #07351a;
}
.block {
  margin: 2%;
  padding: 10px;
}
.footer {
  margin: 2%;
  padding: 5px;
  color: #f0ebe7;
  background-color: #07351a;
}
.subtitle {
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0px;
  margin-left: 3%;
  margin-right: 3%;
}
